body {
  background: #7f92aa;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
h2 {
  margin: 0 0.5;
  font-size: 28px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba (0, 0, 0, 0.2);
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba (0, 0, 0, 0.8);
}
